<!doctype html>
<html lang="zh-cn" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <title>Map components React sample</title>
    <link rel="icon" href="data:;base64,=" />

    <style>
      html,
      body {
        background-color: var(--calcite-ui-foreground-2);
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100vh;
      }

      #app, arcgis-map {
        display: block;
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div id="app">
    </div>
    <script type="module" src="./dist/index.js"></script>
  </body>
</html>
